
body{
    margin: 0;
    overflow-x: hidden;
    background-color: 	#000000;
  
}
.search-bar{
    float: right;
    margin: 24px 64px;
    
}
.search-bar input{
    background: url('../attr/search-icon.png') no-repeat scroll 0px 0px;
    padding-left: 30px;
    padding: 4px 10px 4px 30px;
    background-color: aliceblue;
    outline: none;
}

.search-bar button{
    padding: 4px;
}
.header{
    width: 100vw;
    height: 156.4px;
    border: 0px solid black;
    background-color: crimson;
}
.header header{
    font-size: larger;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: oblique;
    font-size: 48px;
    height: auto;
    width: auto;
    display: inline-block;
    
}
#content-container{
    width: 100vw;
    min-height: 494.4px;
    display: flex;
    flex-wrap: wrap;
}

.container{
  margin: 10px;
  flex: 0;
  position: relative;
  width: 50%;
}


.image{
    opacity: 1;
    display: block;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden; 
}

.show-more{
    transition: .5s ease;
    top: 50%;
    left: 43%;
    opacity: 0;
    position: absolute;
    transform: translate(-50%,-50%);
    text-align: center;
}
.container:hover .image {
    opacity: 0.3;
  }
  
  .container:hover .show-more{
    opacity: 1;
  }
a{
    text-decoration: none;
    padding: 16px;
    color: white;
    cursor: pointer;
    transition: 1s ease-out;
    border: 1px solid black;
}  
a:hover{
    background-color: white;
    transition:1s ease-in;
    color: #000;
    
}

.footer{
 width: 100vw;
 padding: 10.9px;
 border: 0px solid black;
 background-color: crimson;
 font-size: xx-large;
}
.autocomplete{
    position: relative;
}
.autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9;
}
.autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important;
    color: #ffffff;
  }

  .hide{
      
      margin-left: -500px;
      font-size: 70px;
      width: 100%;
      height: 100%;
      color: white;
  }
  .hide pre{
      font-family: 'Courier New', Courier, monospace;
      font-weight: bolder;
  }
  .hide pre{
    animation: fadeIn 12s;
    -webkit-animation: fadeIn 12s;
    -moz-animation: fadeIn 12s;
    -o-animation: fadeIn 12s;
    -ms-animation: fadeIn 12s;
  }
  @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  #favour{
      display: none;
  }
  #favour h1{
      color: white;
  }
  .js{
      display: block;
  }